<div class="wrapper">

  <div class="current-research-header">
    <h3>ผลงานตีพิมพ์</h3>
    <button class="btn btn-primary" (click)="openPopup(content)">
      <i class="fas fa-plus"></i>
      &nbsp; เพิ่มผลงานตีพิมพ์
    </button>
  </div>

  <div class="table-form-wrapper">
    <table class="table">
      <thead>
        <td> วันที่ตีพิมพ์</td>
        <td>ชื่อผลงาน</td>
        <td width="20%"></td>
      </thead>
      <tr class="tb-separator">
        <td colspan="3"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;งานวิจัย / วิทยานิพนธ์</td>
      </tr>
      <tr>
        <td>
          25/05/2018
        </td>
        <td>
          งานวิจัยเรื่องแบคทีเรีย AAAA ในถ้ำ BBBB
        </td>

        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
      <tr>
        <td>
          25/05/2018
        </td>
        <td>
          วิทยานิพนธ์หัวข้อ xxxx yyyyy
        </td>

        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
      <tr class="tb-separator">
        <td colspan="3"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;บทความ</td>
      </tr>
      <tr>
        <td>
          23/04/2017
        </td>
        <td>
          บทควาทเรื่องโรคติดด่อในวัยเด็ก xxxxx
        </td>

        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
      <tr class="tb-separator">
        <td colspan="3"><i class="fas fa-caret-right"></i> &nbsp;&nbsp;รายงานการประชุม</td>
      </tr>
      <tr>
        <td>
          25/04/2016
        </td>
        <td>
          รายงานการประชุม ffffff aaaaa
        </td>

        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>

    </table>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">เพิ่มบทความที่ตีพิมพ์แล้ว</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="scroll-modal">
        <div class="grid">
          <button class="action-card" (click)="c('Close click');goToCreatePortfolio('project')">
            <i class="fas fa-plus-circle jumbo"></i>
            <br>
            <br> เพิ่มงานวิจัย / วิทยานิพนธ์
          </button>
          <button class="action-card" (click)="c('Close click');goToCreatePortfolio('article')">
            <i class="fas fa-plus-circle jumbo"></i>
            <br>
            <br> เพิ่มบทความวิชาการ
          </button>
          <button class="action-card" (click)="c('Close click');goToCreatePortfolio('conference')">
            <i class="fas fa-plus-circle jumbo"></i>
            <br>
            <br> เพิ่มรายงานการประชุมวิชาการ
          </button>
          <button class="action-card" (click)="c('Close click');goToCreatePortfolio('innovation')">
            <i class="fas fa-plus-circle jumbo"></i>
            <br>
            <br> เพิ่มผลงานนวัตกรรมจากบทความวิจัย
          </button>

          <!-->
          <app-date-picker-field label="วันที่" formControlName="date"></app-date-picker-field>
          <app-text-field label="ชื่อการอบรม" formControlName="trainingName"></app-text-field>
          <app-text-field label="หน่วยงานที่จัด" formControlName="holderName"></app-text-field>
          <app-text-field label="ประเทศ" formControlName="country"></app-text-field>
          <app-text-field label="สถานที่" formControlName="place"></app-text-field>
          <app-text-field label="รายละเอียด" formControlName="details"></app-text-field>-->


        </div>
      </div>
    </div>
  </ng-template>

</div>