<div class="wrapper">
  <h3>กำหนดสิทธิผู้ใช้</h3>
  <div class="action-box">
    <div style="width: 40%">
      <app-selector-field label="ประเภทผู้ใช้"></app-selector-field>
    </div>
    <table class="table">
      <thead>
        <td >ชื่อสิทธิ์</td>
        <td>ดูข้อมูล</td>
        <td>แก้ไขข้อมูล</td>
        <td>ลบข้อมูล</td>
      </thead>
      <tr>
        <td>
          ข้อมูลผู้ใช้ทั่วไป
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ข้อมูลนักวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ข้อมูลผลงานนักวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ข้อมูลคำขอทุนวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ข้อมูลการยื่นขอทุนวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          การ Upload เอกสารของผู้วิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          เอกสารที่ผู้วิจัยต้องใช้
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          เอกสารที่ผู้วิจัย upload
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ข้อมูลการพิจารณาคำขอทุนวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ค้นหาผลงานนักวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          Download ผลงานของนักวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          การดูแลและพิมพ์รายงาน
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <tr>
        <td>
          ข้อมูลการพิจารณาคำขอทุนวิจัย
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
    </table>
  </div>
</div>