<div class="wrapper">
    <h3>ตั้งค่า{{settingDisplay.title}}</h3>
    <div class="action-box">
        <div class="table-form-wrapper">
            <table *ngIf="fundSourceTypes.length > 0" class="table">
                <thead>
                    <td width="30%">{{settingDisplay.title}}</td>
                    <td width="25%">วันที่เปิดขอทุน</td>
                    <td width="25%">วันที่ปิดขอทุน</td>
                </thead>
                <tr *ngFor="let fundSourceType of fundSourceTypes">
                    <!--<td>
                      <input type="text" class="form-control" readonly="true" [value]="researcherType.id"/>
                  </td>-->
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="fundSourceType.fundSourceType" />
                    </td>
                    <td>
                        <app-date-picker-field [horizontal]="true"></app-date-picker-field>
                    </td>
                    <td>
                        <app-date-picker-field [horizontal]="true"></app-date-picker-field>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="updateType(fundSourceType.id,fundSourceType.fundSourceType)">
                            <i class="far fa-save"></i> แก้ไข
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="updateType(fundType.id,fundType.fundType)">
                            <i class="far fa-trash-alt"></i> ลบ
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="button-panel-table">
            <input type="text" class="form-control" [(ngModel)]="addValue" />
            <button class="btn btn-primary" (click)="saveType(addValue)">
                <i class="fas fa-plus"></i>&nbsp; เพิ่ม{{settingDisplay.title}}</button>
        </div>

    </div>
</div>