<div class="dashboard">


  <div class="current-research-header">
    <h4>รายการข้อเสนองานวิจัย</h4>
  </div>

  <div class="duration-wrapper">
    <app-date-picker-field label="ตั้งแต่วันที่" [horizontal]="true"></app-date-picker-field>
    <app-date-picker-field label="ถึงวันที่" [horizontal]="true"></app-date-picker-field>
  </div>

  <div class="fund-wrapper">
    <div>
      <app-selector-field label="ประเภททุนวิจัย" horizontal="true"></app-selector-field>
    </div>
    <div class="fund-summary">รวม 2 เรื่อง เงินทุนวิจัยรวม 1,000,000.00 บาท</div>
  </div>


  <div class="current-research-row">
    <div class="research-order">
      <h4>1</h4>
    </div>
    <div class="research-detail">
      <h5>งานวิจัยพันธะเคมีแบบบีของสารเคมีเอเอเอในการรักษาโรคมะเร็ง</h5>
      <div>
        วันที่ขอยื่นคำขอ: 19/06/2561
      </div>

      <div>
        ทุนวิจัยที่ยื่นเสนอ: 5,000,000.00 บาท
      </div>
      <div>
        ผู้เสนอ: ศจ. ดร. ฉลาดมาก อัจฉริยะสุด ๆ
      </div>
    </div>
    <div class="research-action">
      <button class="btn btn-primary" (click)="goToProposalDetail()">
        ดูรายละเอียด
      </button>

    </div>
  </div>

  <div class="current-research-row">
    <div class="research-order">
      <h4>2</h4>
    </div>
    <div class="research-detail">
      <h5>งานวิจัยพันธะเคมีแบบบีของสารเคมีเอเอเอในการรักษาโรคมะเร็ง</h5>
      <div>
        วันที่ขอยื่นคำขอ: 19/06/2561
      </div>

      <div>
        ทุนวิจัยที่ยื่นเสนอ: 5,000,000.00 บาท
      </div>
      <div>
        ผู้เสนอ: ศจ. ดร. ฉลาดมาก อัจฉริยะสุด ๆ
      </div>
    </div>
    <div class="research-action">
      <button class="btn btn-primary" (click)="goToProposalDetail()">
        ดูรายละเอียด
      </button>

    </div>
  </div>


  <div class="current-research-row">
    <div class="research-order">
      <h4>3</h4>
    </div>
    <div class="research-detail">
      <h5>งานวิจัยพันธะเคมีแบบบีของสารเคมีเอเอเอในการรักษาโรคมะเร็ง</h5>
      <div>
        วันที่ขอยื่นคำขอ: 19/06/2561
      </div>

      <div>
        ทุนวิจัยที่ยื่นเสนอ: 5,000,000.00 บาท
      </div>
      <div>
        ผู้เสนอ: ศจ. ดร. ฉลาดมาก อัจฉริยะสุด ๆ
      </div>
    </div>
    <div class="research-action">
      <button class="btn btn-primary" (click)="goToProposalDetail()">
        ดูรายละเอียด
      </button>

    </div>
  </div>


  <div>

  </div>

</div>