<div class="action-box">
        <h5>ข้อมูลงานวิจัย</h5>
            <app-selector-field label="ประเภททุนวิจัย"></app-selector-field>
            <app-selector-field label="ประเภทแหล่งทุนวิจัย"></app-selector-field>
            <app-text-field label="ชื่อเรื่องที่วิจัย (ไทย)"></app-text-field>
            <app-text-field label="ชื่อเรื่องที่วิจัย (Eng)"></app-text-field>
            <div>
                <h5>สถานภาพโครงการ</h5>
                <div class="research-status-wrapper">
                    <app-radio-field label="" [valueList]="researchStatusType"></app-radio-field>
                    <app-text-field label="ระยะเวลา" [horizontal]="true"></app-text-field>
                    <app-text-field label="ปี " [horizontal]="true"></app-text-field>
                    <app-text-field label=" เดือน &nbsp;  &nbsp;  &nbsp; ปีนี้เป็นปีที่" [horizontal]="true"></app-text-field>
                </div>
            </div>
     
            <app-text-field label="ปีงบประมาณ" placeholder="2561"></app-text-field>
            <app-selector-field label="ยุทธศาสตร์การพัฒนาประเทศตามแผนพัฒนาเศรษฐกิจและสังคมแห่งชาติ"></app-selector-field>
            <app-selector-field label="หน่วaยงาน"></app-selector-field>
            <app-selector-field label="แผนงาน"></app-selector-field>
            <app-selector-field label="ประเด็นวิจัย"></app-selector-field>
     
            <div class="form-wrapper">
                <label>คำสำคัญ (ไทย)</label>
                <tag-input placeholder="กรุณาใส่คำสำคัญ" [(ngModel)]="tagModel1"></tag-input>
            </div>
            <div class="form-wrapper">
                <label>คำสำคัญ (อังกฤษ)</label>
                <tag-input placeholder="กรุณาใส่คำสำคัญ" [(ngModel)]="tagModel2"></tag-input>
            </div>
            <div class="duration-wrapper">
                <h5>ระยะเวลาทำวิจัย</h5>
                <app-date-picker-field label="ตั้งแต่วันที่" [horizontal]="true"></app-date-picker-field>
                <app-date-picker-field label="ถึงวันที่" [horizontal]="true"></app-date-picker-field>
            </div>
            <div class="table-form-wrapper">
                <h5>ชื่อหัวหน้าโครงการวิจัย</h5>
                <table class="table">
                    <thead>
                        <td width="40%">เลขที่บัตรประจำตัวประชาชน</td>
                        <td>ชื่อ-นามสกุล</td>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
     
                </table>
            </div>
            <div class="table-form-wrapper">
                <h5>รายชื่อผู้ร่วมทำวิจัย</h5>
                <table class="table">
                    <thead>
                        <td width="40%">เลขที่บัตรประจำตัวประชาชน</td>
                        <td>ชื่อ-นามสกุล</td>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
                </table>
                <div class="button-panel-table">
                    <button class="btn btn-primary">
                        <i class="fas fa-plus"></i>&nbsp; เพิ่มรายชื่อผู้ร่วมทำวิจัย</button>
                </div>
            </div>
            <div class="table-form-wrapper">
                <h5>รายชื่อที่ปรึกษา</h5>
                <table class="table">
                    <thead>
                        <td width="40%">เลขที่บัตรประจำตัวประชาชน</td>
                        <td>ชื่อ-นามสกุล</td>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
                </table>
                <div class="button-panel-table">
                    <button class="btn btn-primary">
                        <i class="fas fa-plus"></i>&nbsp; เพิ่มรายชื่อรายชื่อที่ปรึกษา</button>
                </div>
            </div>
     
            <app-selector-field label="มาตรฐานการวิจัย"></app-selector-field>
            <br/>
            <br/>
            <h5>พื้นที่ทำการ</h5>
           
            <app-text-field label="ชื่อสถานที่"></app-text-field>
            <app-text-field label="จังหวัด / เมือง"></app-text-field>
            <app-text-field label="ประเทศ"></app-text-field>
     
            <br/>
            <br/>
     
            <app-text-field label="จำนวนเงินทุนอุดหนุนที่ขอ"></app-text-field>
            <app-text-field label="ผลงานที่จะได้"></app-text-field>
            <app-radio-field label="อนุญาตให้เผยแพร่ได้" [valueList]="YesOrNo"></app-radio-field>
            <app-text-field label="เหตุผลที่เผยแพร่ไม่ได้"></app-text-field>
            <br>
     
     </div>
     
     
     