<form [formGroup]="forms">
  <div class="table-form-wrapper">
    <h4>ประวัติการอบรม</h4>
    <br>
    <div class="button-panel-table">
      <button class="btn btn-primary" (click)="open(content)">
        <i class="fas fa-plus"></i>&nbsp; เพิ่มประวัติการอบรม</button>
    </div>
    <br>

    <table class="table">
      <thead>
        <td>วันที่</td>
        <td>ชื่อการอบรม</td>
        <td>หน่วยงานที่จัด</td>
        <td>ประเทศ</td>
        <td>สถานที่</td>
        <td>รายละเอียด</td>
      </thead>
      <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>

    </table>


    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scroll-modal">
          <div>

            <app-date-picker-field label="วันที่" formControlName="date"></app-date-picker-field>
            <app-text-field label="ชื่อการอบรม" formControlName="trainingName"></app-text-field>
            <app-text-field label="หน่วยงานที่จัด" formControlName="holderName"></app-text-field>
            <app-text-field label="ประเทศ" formControlName="country"></app-text-field>
            <app-text-field label="สถานที่" formControlName="place"></app-text-field>
            <app-text-field label="รายละเอียด" formControlName="details"></app-text-field>


          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Close click')">บันทึก</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">ล้างข้อมูล</button>
      </div>
    </ng-template>


  </div>
</form>