<div class="wrapper">
    <h3>ดาวน์โหลดเอกสาร</h3>
    <div class="action-box">
        <div>
            <button class="btn">
                <img src="/assets/pdf.png" height="42"> Download แบบฟอร์มข้อเสนองานวิจัย</button>
        </div>
        <div>
            <button class="btn">
                <img src="/assets/pdf.png" height="42"> Download สัญญาขอทุนงานวิจัย</button>
        </div>
        <div>
            <button class="btn">
                <img src="/assets/pdf.png" height="42"> Download สัญญาค้ำประกัน</button>
        </div>
        <div>
            <button class="btn">
                <img src="/assets/pdf.png" height="42"> Download แบบฟอร์มเบิกงวด</button>
        </div>
        <div>
            <button class="btn">
                <img src="/assets/pdf.png" height="42"> Download สัญญาขอเบิกเงินล่วงหน้า</button>
        </div>
        <div>
            <button class="btn">
                <img src="/assets/pdf.png" height="42"> Download แบบฟอร์มรายงานความก้าวหน้า</button>
        </div>
        <div>
                <button class="btn">
                    <img src="/assets/pdf.png" height="42"> Download แบบฟอร์มรายงานงานวิจัยฉบับสมบูรณ์</button>
            </div>
    </div>
</div>