.wrapper{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

.row {
    margin-left: 0px
}

::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}