.wrapper {
    width: 100%;
    height: 100vh;
    padding: 20px;

}

.action-box {
    background-color:#FFFFFF;
    z-index: 300;
    border: #F0F0F0 solid 1px;
    border-radius: 3px; 
    padding:20px;
}

.table-form-wrapper {
    margin-top:40px;
    margin-bottom:40px
}