<div class="wrapper">
  <h4>กำหนดรายละเอียดทุนวิจัย </h4>

  <div class="action-box">
    <br>
    <div class="button-panel-table">
      <button class="btn btn-primary" (click)="goToAddFund()">
        <i class="fas fa-plus" ></i>&nbsp; เพิ่มทุนวิจัย</button>
    </div>
    <br>
    <table class="table">
      <thead>
        <td>รหัสทุน</td>
        <td>ชื่อทุน</td>
        <td>ช่วงเวลา</td>
        <td>ประเภททุนวิจัย</td>
        <td>แหล่งทุนวิจัย</td>
        <td></td>
      </thead>
      <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
    </table>


  </div>

</div>