<div class="wrapper">
  <h4>เพิ่ม / แก้ไขทุนวิจัย </h4>

  <div class="action-box">
      <app-text-field label="ชื่อทุน"></app-text-field>
      <app-text-field label="รหัสทุน"></app-text-field>
      <app-date-picker-field label="วันที่เปิดให้ขอทุน"></app-date-picker-field>
      <app-date-picker-field label="วันที่ปิดรับคำขอทุน"></app-date-picker-field>
      <app-text-area-field label="รายละเอียด"></app-text-area-field>
      <app-selector-field label="ประเภททุนวิจัย"></app-selector-field>
      <app-selector-field label="แหล่งทุนวิจัย"></app-selector-field>

      <div class="button-panel">
          <button class="btn btn-primary">บันทึก</button>
          &nbsp;
          <button class="btn btn-outline-dark">ล้างข้อมูล</button>
      </div>
  </div>

</div>