<div class="wrapper">
  <h3>ผลงานที่ผ่านมา</h3>

  <div class="current-research-header">
    <h5>งานวิจัยฉบับสมบูรณ์ / วิทยานิพนธ์</h5>
    <button class="btn btn-primary" (click)="goToCreatePortfolio('project')">
      <i class="fas fa-plus"></i>
      &nbsp; เพิ่มงานวิจัย
    </button>
  </div>

  <div class="table-form-wrapper">
    <table class="table">
      <thead>
        <td >ชื่อผลงาน</td>
        <td width="20%"></td>
      </thead>
      <tr>
        <td>
          งานวิจัยเรื่องแบคทีเรีย AAAA ในถ้ำ BBBB
        </td>
        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
      <tr>
        <td>
          วิทยานิพนธ์หัวข้อ xxxx yyyyy
        </td>
        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
      <tr>
        <td>
          งานวิจัยโรคติด่อ xxxx ประจำปี yyyy
        </td>
        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>
      <tr>
        <td>
          งานวิจัยหัวข้อ fffff เรื่อง ssssssssss
        </td>
        <td>
          <button class="btn btn-primary">
            ดูรายละเอียด
          </button>
        </td>
      </tr>

    </table>
  </div>

  <div class="current-research-header">
      <h5>รายงานการประชุมวิชาการ</h5>
      <button class="btn btn-primary" (click)="goToCreatePortfolio('conference')">
        <i class="fas fa-plus"></i>
        &nbsp; เพิ่มรายงานการประชุมวิชาการ
      </button>
    </div>
  
    <div class="table-form-wrapper">
      <table class="table">
        <thead>
          <td >ชื่อผลงาน</td>
          <td width="20%"></td>
        </thead>
        <tr>
          <td>
            รายงานการประชุมวิชาการสถาบัน xxxx ประจำปี yyyy
          </td>
          <td>
            <button class="btn btn-primary">
              ดูรายละเอียด
            </button>
          </td>
        </tr>
        <tr>
          <td>
            Special Conference of British Royal Society
          </td>
          <td>
            <button class="btn btn-primary">
              ดูรายละเอียด
            </button>
          </td>
        </tr>
  
      </table>
    </div>

    <div class="current-research-header">
        <h5>วารสารทางวิชาการ / บทความวิชาการ</h5>
        <button class="btn btn-primary" (click)="goToCreatePortfolio('article')">
          <i class="fas fa-plus"></i>
          &nbsp; เพิ่มวารสารทางวิชาการ / บทความวิชาการ
        </button>
      </div>
    
      <div class="table-form-wrapper">
        <table class="table">
          <thead>
            <td >ชื่อผลงาน</td>
            <td width="20%"></td>
          </thead>
          <tr>
            <td>
              วารสารเคมีประจำปี dddd
            </td>
            <td>
              <button class="btn btn-primary">
                ดูรายละเอียด
              </button>
            </td>
          </tr>
          <tr>
            <td>
              บทความวิชาการ เรื่อง ssssssssss
            </td>
            <td>
              <button class="btn btn-primary">
                ดูรายละเอียด
              </button>
            </td>
          </tr>
    
        </table>
      </div>


</div>