<div class="wrapper">
  <div class="action-wrapper">
    <h3>ทุน XXXXXXX</h3>
    <div class="data">
      <b>รหัสทุน:</b> yyyyyy </div>
    <br>
    <div class="data">
      <b>ระยะเวลา:</b> 17/08/2018 - 29/09/2018 </div>

    <br>
    <div class="data">
      <b>ประเภททุนวิจัย:</b> aaaaaa</div>
    <br>
    <div class="data">
      <b>แหล่งทุนวิจัย: bbbbbbb</b>
    </div>
    <br>
    <div class="data"><b>รายละเอียด:</b>
      <br> ทับซ้อนดีลเลอร์ซูฮกควิก แชเชือนจอหงวนกับดัก ดีพาร์ทเมนท์มาร์ชถูกต้องโครนาปิโตรเคมี ดีมานด์วอร์รูมตุ๊กฟอยล์ลามะ แซลมอนทอร์นาโด
      ซิตี้แชมพูสเปค กระดี๊กระด๊าผ้าห่มแรลลี แฟรนไชส์ภคันทลาพาธซาดิสต์ซิ้มธรรมา โฮลวีต คอนเทนเนอร์พุดดิ้งรีไทร์ไฮไลท์ เช็กฮอตเที่ยงคืนธัมโมเจได
      แคมป์ทรูฮีโร่ ช็อตมะกันเคลมรูบิค แอปเปิ้ล ไพลินยอมรับสตาร์ สุริยยาตรมหาอุปราชา
    </div>
    <br>
  </div>
</div>